:root{
--cor-fundo:#87CEEB ;
--cor-principal: ; 
--cor-secundaria: ; 
--cor-destaque: ; 
--cor-texto: ;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600pxs;
}